.title
{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #0d0d0d;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    &_left
    {   
        font-size: 36px;
        line-height: 36px;
        color: #ffffff;
        text-align: left;
        animation: fadeInLeft;
        animation-duration: 2s;
    }
}